<launch>
  <!-- General arguments -->
  <arg name="param_file"
       default="$(find wavemap_ros)/config/alma_hashed_wavelet_adaptive.yaml"
       doc="Name of the file from which to read wavemap's server params."/>
  <arg name="debug_mode"
       default="false"
       doc="Run the mapper in a debugger (gdb)."/>
  <arg name="show_rviz"
       default="false"
       doc="Automatically launch Rviz."/>

  <arg name="load_map_from_file"
       default="false"
       doc="Load the map from a file."/>
  <arg name="frame"
       default="map"
       doc="Which frame to use for planning/ mapping."/>
  <arg name="propagation_distance"
       default="5.0"
       doc="Automatically launch Rviz."/>
       
  <!-- Run the wavemap server -->
  <include file="$(find wavemap_ros)/launch/wavemap_server.launch" unless="$(arg load_map_from_file)">
     <arg name="param_file" value="$(arg param_file)"/>
     <arg name="debug_mode" value="$(arg debug_mode)"/>
     <arg name="show_rviz" value="$(arg show_rviz)"/>
  </include>
  

  <!-- Run the waverider server -->
<node name="waverider_chomp_planner" pkg="waverider_chomp_planner"
     type="waverider_chomp_planner_node"
     output="screen">
     <param name="load_map_from_file" value="$(arg load_map_from_file)"/>
     <param name="frame" value="$(arg frame)"/>
     <param name="propagation_distance" value="$(arg propagation_distance)"/>
</node>

</launch>
